<div class="card">
  <div class="card-body">
    <h3 class="card-title event-title">{{title}}</h3>
    <p class="card-text event-location">Location: {{location}}</p>
    <p class="card-text event-details">Details: {{details}}</p>
    <p class="card-text event-date">Date: {{date}}</p>
    <p class="card-text event-capcity">Max capacity: {{max_capacity}}</p>
    <a  href="/update/{{id}}"><button class="btn-primary" data-id="{{id}}">Update event</button></a>
  </div>
</div>