<div>
    <h2>{{title}}</h2>
    {{!-- <p>{{{get_emoji}}}</p>
    <p>{{description}}</p>
    <p>Event By {{<user.name}} on {{format_date date_created}}</p>
            <p>
                <span for="img" aria-label="money">$</span>
                <span class="dollar-amount">{{format_amount needed_entry}}</span>
                needed
            </p>
            <p>
                <button type="button" class="btn btn-primary">Entry FEE!!!</button>
            </p> --}}
</div>